n8n.json
{"name":"CrewAI Claim Workflow","nodes":[{"parameters":{},"id":"1","name":"Start Workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"values":[{"name":"claim","value":"Example insurance claim text"}],"options":{}},"id":"2","name":"Set Claim","type":"n8n-nodes-base.set","typeVersion":1,"position":[440,300]},{"parameters":{"url":"https://brunilda-preponderant-legend.ngrok-free.dev/crew/start","method":"POST","jsonParameters":true,"options":{},"bodyParametersJson":"={\"claim\": $json[\"claim\"]}"},"id":"3","name":"Start Job","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[640,300]},{"parameters":{"functionCode":"let jobId = $json[\"job_id\"];\nlet status = \"running\";\nwhile(status !== \"completed\") {\n  const response = await this.helpers.request({\n    method: 'GET',\n    uri: `https://brunilda-preponderant-legend.ngrok-free.dev/crew/status/${jobId}`,\n    json: true\n  });\n  status = response.status;\n  if(status !== 'completed') {\n    await new Promise(resolve => setTimeout(resolve, 5000));\n  }\n}\nreturn [{json: {job_id: jobId, status: status}}];"},"id":"4","name":"Poll Status","type":"n8n-nodes-base.function","typeVersion":2,"position":[840,300]},{"parameters":{"url":"https://brunilda-preponderant-legend.ngrok-free.dev/crew/result","method":"GET","jsonParameters":true},"id":"5","name":"Get Result","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,300]},{"parameters":{"url":"https://brunilda-preponderant-legend.ngrok-free.dev/crew/stats","method":"GET","jsonParameters":true},"id":"6","name":"Get Stats","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1240,300]},{"parameters":{"mode":"combine","combineMode":"mergeByIndex"},"id":"7","name":"Merge Result & Stats","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1440,300]}],"connections":{"Start Workflow":{"main":[[{"node":"Set Claim","type":"main","index":0}]]},"Set Claim":{"main":[[{"node":"Start Job","type":"main","index":0}]]},"Start Job":{"main":[[{"node":"Poll Status","type":"main","index":0}]]},"Poll Status":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Get Stats","type":"main","index":0}]]},"Get Stats":{"main":[[{"node":"Merge Result & Stats","type":"main","index":0}]]}}}
